body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Yellowtail', sans-serif;
  font-size: 4.5rem;
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: 'Alata', sans-serif;
}

p {
  text-align: center;
  margin: auto;
  width: 50%;
}

/* a:hover {
  color: #FF8243;
} */

.header {
  background-color: #950101;
}

.carousel-item img {
  height: 35rem;
  max-height: 35rem;
}

.title {
  background-color: #FF8243;
  position: relative;
  padding-top: 100px;
}

.title-subtext {
  text-align: center;
  font-family: 'Alata', sans-serif;
  padding-bottom: 20px;
}

.nav-item {
  padding: 0 18px;
}

.navbar-custom {
  height: 100px
}


.collapse {
  padding-right: 30px;
}

/* About us */
.about-us {
  background-color: #FF8243;
  padding-bottom: 50px;
}
/* Specials */
.specials {
  padding-top: 40px;
  padding-bottom: 40px;
}

.specials-image {
  height: 400px;
  width: 100%;
}

.card-title {
  text-align: center;
  font-family: 'Alata', sans-serif;
}

.card {
  background-color: #FF8243;
}

.specials-column {
  padding-bottom: 30px;
}

.transition {
  padding-top: 40px;
  padding-bottom: 40px;
}

.btn {
  background: #FF8243;
  background-image: -webkit-linear-gradient(top, #FF8243, #FF8243);
  background-image: -moz-linear-gradient(top, #FF8243, #FF8243);
  background-image: -ms-linear-gradient(top, #FF8243, #FF8243);
  background-image: -o-linear-gradient(top, #FF8243, #FF8243);
  background-image: linear-gradient(to bottom, #FF8243, #FF8243);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color:  #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #E83A14 2px;
  text-decoration: none;
  margin-left: 45%;
}

.btn:hover {
  background: #FBE555;
  background-image: -webkit-linear-gradient(top, #FBE555, #FBE555);
  background-image: -moz-linear-gradient(top, #FBE555, #FBE555);
  background-image: -ms-linear-gradient(top, #FBE555, #FBE555);
  background-image: -o-linear-gradient(top, #FBE555, #FBE555);
  background-image: linear-gradient(to bottom, #FBE555, #FBE555);
  text-decoration: none;
}

/* Reviews */

.yelp-review{
  margin: auto;
}

.review-title {
  padding-bottom: 30px;
}

#carouselExampleControls {
  padding-bottom: 60px;
}

/* Location */
.location {
  background-color: #FF8243;
}

.location-title {
  padding-bottom: 20px;
}

.address {
  text-align: center;
}

/* Footer */
.footer {
  background-color: #FBE555;
  padding: 50px 0 20px;
}



h4 {
  text-align: center;
}
